.Footer {
    margin-top: auto;
    background: #111;
    height: 256px;
    color: white;
    padding: 0 20px;
}

.footer__container{
    font-family: Montserrat, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.54px;
}

.footer__items{
    display: flex;
    flex-direction: column;
    padding: 95px 0 0 0;
}

.footer__item{
}

.footer__politico{
    display: flex;
    justify-content: flex-end;
}

.politico__link{
    color: #FFF;
    text-decoration-line: underline;
}